! color
! -----------------------------------------------------------------

#ifdef COLOR
#include "/home/user1/share/xcolors/current.xcolor"
#endif

#ifdef COLOR
*customization: -mycolor
*background: Background_Color
*color0: Ansi_0_Color
*color10: Ansi_10_Color
*color11: Ansi_11_Color
*color12: Ansi_12_Color
*color13: Ansi_13_Color
*color14: Ansi_14_Color
*color15: Ansi_15_Color
*color1: Ansi_1_Color
*color2: Ansi_2_Color
*color3: Ansi_3_Color
*color4: Ansi_4_Color
*color5: Ansi_5_Color
*color6: Ansi_6_Color
*color7: Ansi_7_Color
*color8: Ansi_8_Color
*color9: Ansi_9_Color
*colorBD: Bold_Color
*colorIT: Italic_Color
*colorUL: Underline_Color
*cursorColor: Cursor_Color
*foreground: Foreground_Color
*highlightColor: Selection_Color
*highlightTextColor: Selection_Text_Color
*pointerColor: Pointer_Color
*pointerColorBackground: Pointer_Background_Color
!colorRV
!colorBL
#endif

! font
! -----------------------------------------------------------------

*faceName: xft:Monospace
*faceSize: 9.0
! *font: -xos4-terminus-medium-r-normal-*-16-*-*-*-*-*-iso10646-*
*renderFont: true

! xft
! -----------------------------------------------------------------

Xft.antialias: 1
/* Xft.autohint: 0 */
/* Xft.hinting: 1 */
/* Xft.hintstyle: hintslight */
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
/* Xft.dpi: 192 */

! xcursor
! -----------------------------------------------------------------

XCursor.size: 16

! x11-ssh-askpass
! -----------------------------------------------------------------

X11-ssh-askpass*grabKeyboard: false

! urxvt
! -----------------------------------------------------------------

URxvt*font: xft:Monospace:size=9
URxvt*letterSpace: -1
URxvt*metaSendsEscape: true
URxvt*scrollBar: false
URxvt*skipBuiltinGlyphs: true
URxvt*termName: rxvt-256color

! emacs
! -----------------------------------------------------------------

Emacs.font: Monospace-9
